# Dependencies
node_modules/
backend/node_modules/
frontend/node_modules/

# Env
.env
backend/.env

# Build output
frontend/dist/
backend/tmp/*
!backend/tmp/.gitkeep

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
